/* font-family: 'Ruthie', cursive;
font-family: 'Lovers Quarrel', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Niconne', cursive;
font-family: 'Arizonia', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Lato', sans-serif; 

COLORS
#94618e, #49274a, #f4decB, #F8eee7*/
.container{
    z-index: 5;
}

.brand {
    font-family: 'Ubuntu', cursive;
    font-weight: bold;
    color: #49274a;
}
.hotelName {
    font-size: x-large;
}
.logo {
    font-family: 'Ruthie', cursive;
    font-size: 5vw;
    color: #94618e;
}
@font-face {
    font-family:OPTICubaLibreTwo;
    src: url("https://webfonts.ffonts.net/OPTICubaLibreTwo.font") format("opentype");
}

@font-face {
    font-family: OPTICubaLibreTwo;
    font-weight: bold;
    src: url("https://webfonts.ffonts.net/OPTICubaLibreTwo.font") format("opentype");
}
.titles {
  font-family: OPTICubaLibreTwo;
  color: #49274a;
}

.bg-nav {
    margin: 0;
    padding: 0;
    background-color: rgba(245, 245, 245, .3);
}
a:hover {
    color: #94618e;
}
button.cta {
    color: #49274a;
}
button.cta:hover {
    background-color: #94618e;
    color: white;
}
button.cta-foot {
    color: white;
    background-color: #94618e;
}
button.cta-foot:hover {
    background-color:  #49274a;
    color: white;
}